<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col"></div>
            <div class="col-5">
                <h2>Login into your bank account</h2>
            </div>
            <div class="col"></div>
        </div>
        <form action="/login" method="post">
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm">
                Login:<br>
                <input type="text" name="name" value="login">
                <br>
                Password:<br>
                <input type="password" name="password" value="password">
                <br>
            </div>
            <div class="col-sm"></div>
        </div>
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm">
                <input type="submit" value="Sign in">
            </div>
            <div class="col-sm"></div>
        </div>
        </form>
    </div>
</body>
</html>