<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Manager page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<div class="container mt-5">
    <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm">
            <h2>Manager cabinet</h2>
        </div>
        <div class="col-sm"></div>
    </div>
    <div class="row mt-5">
        <div class="col-5">
            <div class="container">
                <div class="row">
                    <div class="col"><h4 th:text="'Client ' + ${client_info.getLogin()}" /></div>
                </div>
                <div class="row">
                    <form action="/manager/user" method="post">
                        <div class="col">
                            <select name="user_id">
                                <th:block th:each="item : ${users}">
                                    <option th:value="${item.getUserId()}" th:text="${item.getLogin()}"></option>
                                </th:block>
                            </select>
                        </div>
                        <div class="col">
                            <button type="submit" name="action" value="manager">Make a manager</button>
                        </div>
                        <div class="col">
                            <button type="submit" name="action" value="select">Select</button>
                        </div>
                    </form>
                </div>
                <div class="row mt-5"><div class="col"><h4>Accounts</h4></div></div>
                <th:block th:each="item : ${accounts}">
                    <form action="/manager/account" method="post">
                        <div class="row">
                            <div class="col" th:text="${item.getType().name()}"/>
                            <div class="col" th:text="${item.getNumber()}"/>
                            <div class="col-5">
                                <button type="submit" >Select</button>
                            </div>
                        </div>
                        <input name="account_id" type="hidden" th:value="${item.getAccountId()}">
                    </form>
                </th:block>
            </div>
        </div>
        <div class="col">
            <div class="container">
                <div class="row"><th th:text="'Account: ' + ${account.getNumber()}" /></div>
                <div class="row"><div class="col" th:text="'Type: ' + ${account.getType().name()}" /></div>
                <div class="row"><div class="col" th:text="'Balance: $' + ${account.getCurrBalance().toString()}" /></div>
                <div class="row"><div class="col" th:text="'Till: ' + ${account.getValidity().toString()}" /></div>
                <th:block th:if="${account.getType().name() == 'CREDIT'}">
                    <div class="row"><div class="col" th:text="'Rate: ' + ${account.getCreditRate().toString()} + '%'" /></div>
                    <div class="row"><div class="col" th:text="'Credit limit: $' + ${account.getCreditLimit().toString()}" /></div>
                    <div class="row"><div class="col" th:text="'Current debt: $' + ${account.getCurrentDebt().toString()}" /></div>
                    <div class="row"><div class="col" th:text="'Interest charges: $' + ${account.getInterestCharges().toString()}" /></div>
                </th:block>
                <th:block th:if="${account.getType().name() == 'DEPOSIT'}">
                    <div class="row"><div class="col" th:text="'Rate: ' + ${account.getDepositRate().toString()} + '%'" /></div>
                    <div class="row"><div class="col" th:text="'Deposit amount: $' + ${account.getDepositAmount().toString()}" /></div>
                </th:block>
            </div>
        </div>
        <div class="col">
            <form action="/manager/bill" method="post">
                <div class="container">
                    <div class="row"><div class="col"><h4>Create a bill</h4></div></div>
                    <div class="row"><div class="col">
                        <input name="bill_name" type="text" value="Name">
                    </div></div>
                    <div class="row"><div class="col">
                        <input name="bill_amount" type="text" value="Sum">
                    </div></div>
                    <div class="row"><div class="col">
                        <input name="bill_term" type="text" value="Term">
                    </div></div>
                    <div class="row"><div class="col">
                        <button type="submit" >New bill</button>
                    </div></div>
                    <div class="row mt-5"><div class="col">
                        <div class="container">
                            <div class="row"><div class="col"><h4>Account operations</h4></div></div>
                            <th:block th:each="item : ${account_operations}">
                                <div class="row"><div class="col" th:text="${item}"/></div>
                            </th:block>
                        </div>
                    </div></div>
                </div>
            </form>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col">
            <div class="container">
                <div class="row"><div class="col"><h4>Manager data</h4></div></div>
                <form action="/manager/change" method="post">
                    <div class="row">
                        <td th:text="'First name: ' + ${userinfo.getFirstName()}" />
                        <div class="col"><input name="new_first_name" type="text">
                        <button type="submit" >New first name</button></div>
                    </div>
                    <div class="row">
                        <td th:text="'Last name: ' + ${userinfo.getLastName()}" />
                        <div class="col"><input name="new_last_name" type="text">
                        <button type="submit" >New last name</button></div>
                    </div>
                    <div class="row">
                        <td th:text="'Phone: ' + ${userinfo.getPhone()}" />
                        <div class="col"><input name="new_phone" type="text">
                        <button type="submit" >New phone</button></div>
                    </div>
                    <div class="row">
                        <td th:text="'E-mail: ' + ${userinfo.getEmail()}" />
                        <div class="col"><input name="new_email" type="text">
                        <button type="submit" >New e-mail</button></div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-7">
            <div class="container">
                <div class="row"><div class="col"><h4>Account requests</h4></div></div>
                <th:block th:each="item : ${requests}">
                    <div class="row">
                        <div class="col" th:text="${item.getValue()}"/>
                        <div class="col" th:text="${item.getKey().getType().name()}"/>
                        <div class="col" th:text="'$' + ${item.getKey().getAmount().toString()}"/>
                        <div class="col" th:text="${item.getKey().getRate().toString()} + '%'"/>
                        <div class="col">
                            <form action="/manager/accept" method="post">
                                <button type="submit" >Accept</button>
                                <input name="request_id" type="hidden" th:value="${item.getKey().getRequestId()}">
                            </form>
                        </div>
                        <div class="col">
                            <form action="/manager/decline" method="post">
                                <button type="submit" >Decline</button>
                                <input name="request_id" type="hidden" th:value="${item.getKey().getRequestId()}">
                            </form>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>
    </div>
</div>
</body>
</html>