<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<div class="container mt-5">
    <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm">
            <h2>Customer cabinet</h2>
        </div>
        <div class="col-sm"></div>
    </div>
    <div class="row mt-5">
        <div class="col-5">
            <div class="container">
                <div class="row"><div class="col"><h4>Accounts</h4></div></div>
                <th:block th:each="item : ${accounts}">
                    <form action="/user/select" method="post">
                        <div class="row">
                            <td th:text="${item.getType().name()}" />
                            <td th:text="${item.getNumber()}" />
                            <div class="col">
                                <button type="submit" >Select</button>
                            </div>
                            <input name="account_id" type="hidden" th:value="${item.getAccountId()}">
                        </div>
                    </form>
                </th:block>
                <div class="row mt-5"><div class="col"><h4>Request new account</h4></div></div>
                <div class="row">
                    <form action="/user/request" method="post">
                        <div class="col"><input type="radio" name="new_acc_type" value="credit" checked> Credit<br>
                            <input type="radio" name="new_acc_type" value="deposit"> Deposit</div>
                        <div class="col"><input name="new_acc_amount" type="text" value="Amount of money"></div>
                        <div class="col"><input name="new_acc_rate" type="text" value="Rate"></div>
                        <div class="col"><button type="submit" >Request</button></div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="container">
                <div class="row"><th th:text="'Account: ' + ${account.getNumber()}" /></div>
                <div class="row"><td th:text="'Type: ' + ${account.getType().name()}" /></div>
                <div class="row"><td th:text="'Balance: $' + ${account.getCurrBalance().toString()}" /></div>
                <div class="row"><td th:text="'Till: ' + ${account.getValidity().toString()}" /></div>
                <th:block th:if="${account.getType().name() == 'CREDIT'}">
                    <div class="row"><td th:text="'Rate: ' + ${account.getCreditRate().toString()} + '%'" /></div>
                    <div class="row"><td th:text="'Credit limit: $' + ${account.getCreditLimit().toString()}" /></div>
                    <div class="row"><td th:text="'Current debt: $' + ${account.getCurrentDebt().toString()}" /></div>
                    <div class="row"><td th:text="'Interest charges: $' + ${account.getInterestCharges().toString()}" /></div>
                </th:block>
                <th:block th:if="${account.getType().name() == 'DEPOSIT'}">
                    <div class="row"><td th:text="'Rate: ' + ${account.getDepositRate().toString()} + '%'" /></div>
                    <div class="row"><td th:text="'Deposit amount: $' + ${account.getDepositAmount().toString()}" /></div>
                </th:block>
            </div>
        </div>
        <div class="col">
            <div class="container">
                <div class="row"><div class="col">
                    <form action="/user/transfer" method="post">
                        <h4>Make transfer</h4>
                        Account number: <input type="text" name="account_number"><br>
                        Sum: <input type="text" name="amount"><br>
                        <input type="submit" value="transfer">
                    </form>
                </div></div>
                <div class="row"><div class="col">
                    <div class="container">
                        <div class="row mt-5"><div class="col"><h4>Pay a bill</h4></div></div>
                        <th:block th:each="item : ${bills}">
                            <form action="/user/pay_bill" method="post">
                                <div class="row">
                                    <td th:text="${item.getName()}" />
                                    <td th:text="'$' + ${item.getAmount().toString()}" />
                                    <td th:text="'Till ' + ${item.getPayUntil().toString()}" />
                                    <div class="col">
                                        <button type="submit" >Pay</button>
                                    </div>
                                </div>
                                <input name="bill_id" type="hidden" th:value="${item.getBillId()}">
                            </form>
                        </th:block>
                    </div>
                </div></div>
                <div class="row"><div class="col">
                    <div class="container">
                        <div class="row mt-5"><div class="col"><h4>Account operations</h4></div></div>
                        <th:block th:each="item : ${account_operations}">
                            <div class="row"><td th:text="${item}" /></div>
                        </th:block>
                    </div>
                </div></div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col">
            <div class="container">
                <div class="row"><div class="col"><h4>User data</h4></div></div>
                <form action="/user/change" method="post">
                    <div class="row">
                        <td th:text="'First name: ' + ${userinfo.getFirstName()}" />
                        <div class="col"><input name="new_first_name" type="text">
                        <button type="submit" >New first name</button></div>
                    </div>
                    <div class="row">
                        <td th:text="'Last name: ' + ${userinfo.getLastName()}" />
                        <div class="col"><input name="new_last_name" type="text">
                        <button type="submit" >New last name</button></div>
                    </div>
                    <div class="row">
                        <td th:text="'Phone: ' + ${userinfo.getPhone()}" />
                        <div class="col"><input name="new_phone" type="text">
                        <button type="submit" >New phone</button></div>
                    </div>
                    <div class="row">
                        <td th:text="'E-mail: ' + ${userinfo.getEmail()}" />
                        <div class="col"><input name="new_email" type="text">
                        <button type="submit" >New e-mail</button></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>